.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-inline: auto;
  margin-top: 5rem;
}

.hero h1 {
  line-height: 1.3;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.hero p {
  margin-bottom: 2rem;
}

.form {
  position: relative;
}

.form input:invalid + label {
  opacity: 1;
  visibility: visible;
}

.hero label {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    font-size: .875rem;
    opacity: 0;
    visibility: hidden;
    color: #ff0000;
    transition: all .3s;
}

@media (min-width: 62.5rem) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    gap: 10rem;
    margin-top: 4rem;
  }

  .hero h1 {
    font-size: 2.25rem;
    line-height: 1.8;
    margin-bottom: .5rem;
    margin-top: 0;
  }

  .hero p {
    font-size: 1.1rem;
  }

  .heroContent {
    order: -1;
  }

  .form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }



  .form input {
    height: 100%;
  }
}
